
body,html
{
    height: 100%;
    width: 100%;
    font-family: "Arial" ;
    font-size: 12px;
    line-height: 130%;
    position: relative;
    background-color: #000;
}
.wrapper
{

    position: relative;
    width: 1000px;
    box-sizing: border-box;
    padding-bottom: 300px;
    min-height: 100%;
    margin: 0 auto;
    color: #000;
    
}
header
{
    padding-top: 36px;
    top: 0;
    left: 0;
    width: 1000px;
    height: 123px;
    z-index:2;
    padding-bottom:50px;
    
}
.in
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.logo
{
    float: left;
}
nav
{
    float: right;
    padding-top: 40px;
}
nav li
{
    display: inline-block;
    float: left;
    padding:0px  10px 0px;    
    color: grey;
}
nav a
{
    display: block;
    color: black;
    padding: 0px 13px 0px 13px; 
    background-color: grey;
    height: 15px;
    width: 110px;
    font-weight: 700;
    text-align: center;
    font-size: 11.12px;
}
nav a:hover
{
     background-color: #99ff00;
}
main
{
    
    height: 100%;
    width: 100%;
}
.ponap , .poc
{

 display: block;
 height: 15px;
 width: 110px;   
 background-color: #99ff00;
 text-align: center;
 color: #000;   
    
}
.poc
{
 background-color: grey;
}
header:after
{
    content: '';    
    clear: both;
    display: block;
}
main ul a
{
    color: #fff;
    font-size: 11.12px;
    line-height: normal;
}
main ul a:hover
{
    color:  #99ff00;
}
p
{
    color: #fff;
}
.right
{
    float: right;
}
.menu
{
    float: left;
    padding-right: 57px;
}
div:after
{
    content: '';    
    clear: both;
    display: block;
}
.logo
{
   
}
