
body,html
{
    height: 100%;
    width: 100%;
    font-family: "Arial" ;
    font-size: 12px;
    line-height: 130%;
    position: relative;
    background-color: #000;
    
}
.wrapper
{

    position: relative;
    width: 1000px;
    box-sizing: border-box;
    padding-bottom: 300px;
    min-height: 100%;
    margin: 0 auto;

 background-image: url(../image/portfolio.jpg);
      
    background-repeat: no-repeat;
background-position: top center ;

}
header
{
    padding-top: 35px;
    top: 0;
    left: 0;
    width: 1000px;
    height: 92px;
    z-index:2;
   
    
}
.in
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.logo
{
    float: left;
    padding-left: 58px;
}
nav
{
   margin-left: 266px;
    padding-top: 40px;
}
nav li
{
    
    float: left;
    padding: 0px 15px 0px 0px;   
    color: grey;
    
}
nav a
{
    display: block;
    color: black;
    padding: 0px 0px 0px 0px; 
    background-color: grey;
    height: 14px;
    width: 120px;
    font-weight: 700;
    text-align: center;
    font-size: 11.12px;
}
nav a:hover
{
     background-color: #99ff00;
}
main
{
    
    height: 100%;
    width: 100%;
}
.ponap , .poc
{

 display: block;
 height: 15px;
 width: 121px;   
 background-color: #99ff00;
 text-align: center;
 color: #000;   
 padding-top:     2px;
    
}
.poc
{
 background-color: grey;
}
header:after
{
    content: '';    
    clear: both;
    display: block;
}
aside ul a
{
    color: #fff;
    font-size: 11.12px;
    line-height: normal;
}
aside ul a:hover
{
    color:  #99ff00;
}
aside ul .ponap:hover
{
    color:  #000;
}
p
{
    color: #fff;
}
.right
{
    
    float: right;
    margin-top: -8px;
    font-size: 11.12px;
    line-height: 1.2;
    padding-right: 49px;
}
.menu
{
    float: left;
    padding-right: 100px;
    padding-top: 39px;
    padding-left: 40px;
}
div:after
{
    content: '';    
    clear: both;
    display: block;
}
.level2
{
    padding-left:0px;
    padding-top 3px;
    line-height: 153%;
    color: #fff;
}
.level3
{
    line-height: 1.3;
    padding-left: 13px;
    padding-top: 4px;
    color: #999;
    padding-bottom: 19px;
}
.img
{
    margin-bottom: 20px;
    
    padding-left: 285px;
}
footer
{
    width: 1000px;
    height: 72px;
}
.text
{
    padding-left: 265px;
    display: inline-block;
    padding-top: 4px;
}
.preview_img
{
    float: right;
      padding-right: 319px;
   
    
}
.preview_img img
{
  padding: 4px 5px 0px 0px;
}

.pd
{
    padding-left: 16px;

    
}
.level3 li a
{
    color: #999;
}
